<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="icon" href="../assets/img/fav.png" type="image/x-icon" />
<link rel="stylesheet" href="../assets/css/main.css">
<script src="https://use.fontawesome.com/6a7aa3d189.js"></script>

<meta property="og:url"                content="http://www.stutzmanexcavating.com/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Stutzman Excavating" />
    <meta property="og:description"        content="Stutzman Excavating has been serving the willamette valley for over 30 years, offering quality work at a fair price." />
    <meta property="og:image"              content="http://www.stutzmanexcavating.com/assets/img/fb-og-final.jpg" />
